@import url(./assets/transfonter.org-20240504-165003/stylesheet.css);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Simplon Norm';
}
:root{
  --secondary-color:#888792;
  --black:#000000;
  --white:#FFFFFF;
  
}
ul,li{
  list-style: none;
}
a{
  text-decoration: none;
}
.navbar-section{
  border-bottom: 1px solid #E5E5E5;
}
.text-secondary-color{
  color: var(--secondary-color);
}
.heart-icon:hover path {
  fill: #EB4C6B; 
  stroke: #EB4C6B;
}
.footer-section{
  background-color: var(--black);
  padding: 50px 0;
  color: var(--white);
}